[v-cloak] {
  display: none;
}

#newTaskForm {
  position: relative;
  display: inline-flex;
}

#newTaskButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

html, body {
  height: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  background: url("background-image.jpg") no-repeat center;
  background-size: cover;
}
#table {
  margin-bottom: 0;
  border-spacing: 0;
  background: transparent;
}
.finished-task {
  text-decoration: line-through;
  color: lightgrey;
}

.card-table {
  max-height: 348px;
  overflow-y: scroll;
}

tr {
  height: 43.5px;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}


.content table td {
  padding: .5em .75em;
  vertical-align: top;
}

#inputEditTask {
  height: 43.5px;
}

#tdEditTask {
  padding: 0;
}

$white: #ffffff;
$title-color: $white;
$transparent-color: rgba(0, 0, 0, 0.5);
$table-background-color: $transparent-color;
$table-color: $transparent-color;