[v-cloak] {
  display: none;
}

#table {
  margin-bottom: 0;
}
.finished-task {
  text-decoration: line-through;
  color: lightgrey;
}

.card-table {
  max-height: 435px;
  overflow-y: scroll;
}

tr {
  height: 43.5px;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.content table td {
  padding: .5em .75em;
  vertical-align: top;
}